*.html
*.png
*.pdf
*.jpg
*.csv
*.tif
*.tif.aux.xml
*.zip
*.xlsx
*.odg
*.fix
__pycache__
delete_me/
fig3_maps_fig5_curr_vs_poten/rosenstock_data/*.xlsx
fig3_maps_fig5_curr_vs_poten/rosenstock_data/rosenstock*
fig3_maps_fig5_curr_vs_poten/AF_locations_from_papers/scratch/
fig3_maps_fig5_curr_vs_poten/chapman_data_aggregated/*
fig3_maps_fig5_curr_vs_poten/chapman_potential_data/*
fig3_maps_fig5_curr_vs_poten/country_bounds/*
fig3_maps_fig5_curr_vs_poten/af_locs_w_chapman_vals.*
fig3_maps_fig5_curr_vs_poten/AF_locations_from_papers/*.cpg
fig3_maps_fig5_curr_vs_poten/AF_locations_from_papers/*.dbf
fig3_maps_fig5_curr_vs_poten/AF_locations_from_papers/*.prj
fig3_maps_fig5_curr_vs_poten/AF_locations_from_papers/*.shp
fig3_maps_fig5_curr_vs_poten/AF_locations_from_papers/*.shx
fig3_maps_fig5_curr_vs_poten/AF_locations_from_papers/*.cpg
fig3_maps_fig5_curr_vs_poten/AF_locations_from_papers/*.xlsx
fig3_maps_fig5_curr_vs_poten/AF_locations_from_papers/*.pdf
fig3_maps_fig5_curr_vs_poten/AF_locations_from_papers/*.csv
fig3_maps_fig5_curr_vs_poten/AF_locations_from_papers/__pycache__
fig3_maps_fig5_curr_vs_poten/zomer_data/Biomass_Carbon_Ag_Land_2010/
fig3_maps_fig5_curr_vs_poten/zomer_data/Tree_Cover_Ag_Land_2010/
fig3_maps_fig5_curr_vs_poten/Lesiv_et_al_national_AF_*
fig2_figS2_figS3_figS4_pubd_and_RS_C_analyses/*cpg
fig2_figS2_figS3_figS4_pubd_and_RS_C_analyses/*dbf
fig2_figS2_figS3_figS4_pubd_and_RS_C_analyses/*shp
fig2_figS2_figS3_figS4_pubd_and_RS_C_analyses/*shx
fig2_figS2_figS3_figS4_pubd_and_RS_C_analyses/*fix
fig2_figS2_figS3_figS4_pubd_and_RS_C_analyses/*prj
GEE_tif_output/*tif
GEE_shp_output/*shp
GEE_shp_output/*cpg
GEE_shp_output/*dbf
GEE_shp_output/*prj
GEE_shp_output/*shx
GEE_code/*js
