*.html
*.png
*.pdf
*.jpg
*.csv
*.tif
*.tif.aux.xml
*.zip
*.xlsx
*.odg
*.fix
__pycache__
MRV_fig/
citation_trends/AF*.txt
citation_trends/NCS*.txt
mapping/rosenstock_et_al_2019_data/*.xlsx
mapping/rosenstock_et_al_2019_data/rosenstock_et_al*
mapping/rosenstock_et_al_2019_data/NewWorld*
mapping/AF_locations_from_papers/scratch/
mapping/chapman_data_aggregated/*
mapping/chapman_potential_data/*
mapping/country_bounds/*
mapping/af_locs_w_chapman_vals.*
mapping/AF_locations_from_papers/*.cpg
mapping/AF_locations_from_papers/*.dbf
mapping/AF_locations_from_papers/*.prj
mapping/AF_locations_from_papers/*.shp
mapping/AF_locations_from_papers/*.shx
mapping/AF_locations_from_papers/*.cpg
mapping/AF_locations_from_papers/*.xlsx
mapping/AF_locations_from_papers/*.pdf
mapping/AF_locations_from_papers/*.csv
mapping/AF_locations_from_papers/__pycache__
mapping/zomer_data/Biomass_Carbon_Ag_Land_2010/
mapping/zomer_data/Tree_Cover_Ag_Land_2010/
C_analysis/*cpg
C_analysis/*dbf
C_analysis/*shp
C_analysis/*shx
C_analysis/*fix
C_analysis/*prj
publication_trends/*txt
publication_trends/*png
